<div class="project_list__container">
    <ul class="project_list">
        <li class="project__container">
            <app-big-card></app-big-card>
        </li>
        <li class="project__container">
            <app-big-card></app-big-card>
        </li>
        <li class="project__container">
            <app-big-card></app-big-card>
        </li>
        <li class="project__container">
            <app-big-card></app-big-card>
        </li>
        <li class="project__container">
            <app-big-card></app-big-card>
        </li>
    </ul>
</div>