/* You can add global styles to this file, and also import other style files */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #AAAAAA;
    font-weight: 600;
    
}

a:hover {
    color: #888888;
}