<div class="pokedex__container">
    <ul class="pokemon_list">
        <li class="pokemon_list_item">
            <app-card></app-card>
        </li>
        <li class="pokemon_list_item">
            <app-card></app-card>
        </li>
        <li class="pokemon_list_item">
            <app-card></app-card>
        </li>
        <li class="pokemon_list_item">
            <app-card></app-card>
        </li>
        <li class="pokemon_list_item">
            <app-card></app-card>
        </li>
    </ul>
</div>