@media screen and (max-width: 1000px){
    .pokemon_list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px){
    .pokemon_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 650px){
    .pokemon_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px){
    .pokemon_list {
        grid-template-columns: 1fr;
    }

    .pokemon_list_item {
        padding: 0 auto;
    }
}