.big_card__container {
    margin: 0.5rem;
    padding: 0.5rem;
    
    min-height: 10rem;

    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.image__container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__container > img {
    width: 100%;
    object-fit: scale-down;
}

.info__container {
    max-width: 55%;
    margin-left: 1rem;

}

.project_date {
    font-style: italic;
    color: rgb(150, 150, 150);
    font-size: small;
}
