<div class="big_card__container">
    <div class="image__container">
        <img src="{{ image }}" alt="">
    </div>
    <div class="info__container">
        <div class="info_title">
            <h2>{{ title }}</h2>
        </div>
        <div class="info_date">
            <span class="project_date">{{ date }}</span>
        </div>
        <div class="info_description">
            <span>
                {{ description }}
            </span>
        </div>
        <div class="project_link">
            <a routerLink="/{{ link }}">Ir para projeto >></a>
        </div>
    </div>
</div>